<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input Form</title>
</head>
<body>
    <h1>Новости Казахстана</h1>
    <form id="newsForm" action="/submit" method="post">
        <label for="input_data">Введите тему новости:</label><br>
        <input type="text" id="input_data" name="input_data"><br><br>
        <button type="submit">Получить новости</button>
        
        <br>
        <br>
<!--         <label for="checking_language">Kazakh</label>
        <label class="switch">
            <input type="checkbox" id="checking_language" name="checking_language">
            <span class="slider round"></span>
        </label> -->
    </form>
    <h3>{{ article_title }}</h3>
    <p>{{ article_snippet }}</p>

</body>
</html>
